.country{
  border: 2px solid blue;
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 5px 6px rgb(194, 139, 245);
  text-align: center;
}


.btn{
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: antiquewhite;
  color: black;
  box-shadow: 2px 2px 5px blue;
  cursor: pointer;
  margin-right: 10px;
}


.country-visited{
  background-color: rgb(78, 240, 140);
  color: black;
}

.img{
max-height: 200px;
border-radius: 10px;
}



